nav {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1.0em;
  align-items: center;
  z-index: 1;
}

.logo-container {
  font-family: 'Bungee';
  font-size: 200%;
}
.right-container {
  font-family: 'Source Sans Pro';
}
#write {
  font-weight: 600;
}
#angle-double-down {
  display: flex;
  justify-content: center;
  color: red;
}