nav {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  align-items: center;
  z-index: 10;
  visibility: hidden;
}

.logo-container {
  font-family: 'Bungee';
  font-size: 200%;
}
.right-container {
  position: static;
  font-family: 'Source Sans Pro';
  visibility: visible;

}
#write {
  font-weight: 600;
}
#angle-double-down {
  display: flex;
  justify-content: center;
  color: red;
}

@media only screen and (min-width: 1600px) {
  nav {
    visibility: visible;
    position: fixed;
  }
}