.new-tweet {
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2em;
  font-weight: 300;
}
label {
  display: block;
  margin-bottom: 10px;
  border-bottom-width: 90%;
}
textarea {
  background: transparent;
  color: black;
  resize: none;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: solid black;
  box-shadow: 1px 1px 1px #999;
  border-radius: 5px;
}
.bottom-row {
 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 100%;
}
button[type=submit] {
  background-color: darkslateblue;
  color: #FFFFFF;
  font-family: 'Bungee';
}

.counter {
  font-family: 'Bungee';
  color: #545149;
}

.error-message {
  display: none;
  background-color: #f7a9a9;
  border: 1px solid #ee9192;
  float: center;
  padding: 20px 30px;
  margin-top: 1em;
  color: #cc0033;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  text-shadow: 1px 1px rgba(250,250,250,.3);
  text-align: center;
}

.overflow-wrap {
  overflow-wrap: break-word;
}

 
@media only screen and (min-width: 1024px) {
  .new-tweet {
    margin-top: 240px;
  }
 
 /* Write Tablet only CSS here */
}